venv*
.vscode
__pycache__
scripts/plant_data*
scripts/plants_data*
scripts/plants_images
scripts/*tar.gz
scripts/*.log
scripts/data_extraction/*.xlsx
scripts/download_google_images/downloads/*
scripts/download_google_images/google-images-download
scripts/download_google_images/scientific_names.txt
src/services/gcp_vision/.env
src/services/gcp_vision/cred.json
ape.py
coverage.xml
.cov_html
.coverage
.pytest_cache
tests/api/_test*
src/api/.env
src/api/google_cred.json
.dccache
*.tflite
dev.yml
