venv
.vscode
__pycache__
scripts/plant_data*
scripts/plants_data*
scripts/plants_images
scripts/*tar.gz
scripts/*.log
scripts/data_extraction/*.xlsx
ape.py
coverage.xml
.cov_html
.coverage
.pytest_cache
tests/api/_test*
