beautifulsoup4==4.12.2
envsmtp==0.0.2
exif==1.6.0
fastapi==0.95.2
google-cloud-storage==2.9.0
google-cloud-vision==3.4.2
httpx==0.24.1
passlib==1.7.4
Pillow==9.5.0
prometheus-fastapi-instrumentator==6.0.0
pydantic[email]==1.10.7
pymongo[srv]==4.3.3
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
requests-toolbelt==1.0.0
Shapely==2.0.1
tzlocal==4.3
uvicorn==0.22.0
