beautifulsoup4==4.11.2
envsmtp==0.0.2
exif==1.6.0
fastapi==0.92.0
google-cloud-storage==2.7.0
google-cloud-vision==3.4.0
httpx==0.23.3
passlib==1.7.4
Pillow==9.4.0
prometheus-fastapi-instrumentator==5.11.1
pydantic[email]==1.10.6
pymongo[srv]==4.3.3
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
requests-toolbelt==0.10.1
Shapely==2.0.1
tzlocal==4.2
uvicorn==0.20.0
